
& {
  @import 'framework7/framework7.less';
  @import 'framework7/components/appbar/appbar.less';
  @import 'framework7/components/autocomplete/autocomplete.less';
  @import 'framework7/components/dialog/dialog.less';
  @import 'framework7/components/button/button.less';
  @import 'framework7/components/popup/popup.less';
  @import 'framework7/components/popover/popover.less';
  @import 'framework7/components/actions/actions.less';
  @import 'framework7/components/sheet/sheet.less';
  @import 'framework7/components/toast/toast.less';
  @import 'framework7/components/preloader/preloader.less';
  @import 'framework7/components/progressbar/progressbar.less';
  @import 'framework7/components/sortable/sortable.less';
  @import 'framework7/components/swipeout/swipeout.less';
  @import 'framework7/components/contacts-list/contacts-list.less';
  @import 'framework7/components/card/card.less';
  @import 'framework7/components/form/form.less';
  @import 'framework7/components/input/input.less';
  @import 'framework7/components/grid/grid.less';
  @import 'framework7/components/pull-to-refresh/pull-to-refresh.less';
  @import 'framework7/components/data-table/data-table.less';
  @import 'framework7/components/fab/fab.less';
  @import 'framework7/components/tooltip/tooltip.less';
  @import 'framework7/components/typography/typography.less';
  @import 'framework7/components/accordion/accordion.less';
  @import 'framework7/components/searchbar/searchbar.less';
  @import 'framework7/components/swiper/swiper.less';

  @includeIosTheme: true;
  @includeMdTheme: false;
  @includeAuroraTheme: false;
  @includeDarkTheme: true;
  @includeLightTheme: true;
  @rtl: false
}
